* {
    padding: 0;
    margin: 0;
    border: none;
}
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}
nav,
footer,
header,
aside {
    display: block;
}
html,
body {
    height: 100%;
    width: 100%;
    font-size: 00%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
    font-family: inherit;
}
input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul,
ol {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

body {
    min-width: 768px;
}
/*---------------------------------------------------------------*/
[class*="--container"] {
    margin: 0 auto;
    max-width: 1200px;
}
.wrapper {
    overflow: hidden;
    min-height: 100%;
}
.main {
    flex: 1 1 auto;
}

/*---------------------------------------------------------------*/
.header {
    margin-top: 20px;
    font-family: Arial, sans-serif;
    font-size: 15px;
}
.header--container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.select {
    position: relative;
    transition: all 500ms;
}
.select--btn {
    width: 200px;
    height: 40px;
    font-size: inherit;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #585858;
    color: #fff;
    position: relative;
    transition: all 500ms;
}
.select--btn:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top: 10px solid white;
    position: absolute;
    top: 50%;
    right: 20px;
    margin-top: -5px;
    transition: all 500ms;
}
.select--btn._active:after {
    transform-origin: 5px 5px;
    transform: rotate(180deg);
}
.select--btn:hover {
    background-color: #969696;
}
.select--list {
    opacity: 0;
    width: 100%;
    padding-top: 10px;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 500ms;
    pointer-events: none;
}
.select--list._active {
    opacity: 1;
    top: 40px;
}
.select--list._active {
    pointer-events: all;
}
.select--item {
    border: 1px solid #969696;
    border-top: none;
    width: 200px;
    height: 40px;
    padding: 10px 20px;
    transition: all 500ms;
    cursor: pointer;
    background-color: #fff;
}
.select--item:hover {
    background-color: #969696;
    color: #fff;
}
.select--item:first-child {
    border-top: 1px solid #969696;
    border-radius: 5px 5px 0 0;
}
.select--item:last-child {
    border-radius: 0 0 5px 5px;
}

/*---------------------------------------------------------------*/
.table {
    margin-top: 20px;
    font-family: Arial, sans-serif;
    font-size: 15px;
}
.table--container {
    display: flex;
    flex-direction: column;
}
.table--head {
    border-bottom: 1px solid #585858;
    border-top: 1px solid #585858;
    background-color: #585858;
    color: #fff;
    display: flex;
    justify-content: space-between;
    order: -100;
}
.table--row {
    border-bottom: 1px solid #585858;
    display: flex;
    justify-content: space-between;
}
.table--cell {
    border-right: 1px solid #585858;
    padding: 5px 10px;
    flex: 0 0 240px;
}
.table--cell:first-child {
    border-left: 1px solid #585858;
}

/*---------------------------------------------------------------*/
@media (max-width: 1200px) {
    [class*="--container"] {
        margin: 0 auto;
        max-width: 992px;
    }
    .table--cell {
        flex: 0 0 198.4px;
    }
}
@media (max-width: 992px) {
    [class*="--container"] {
        margin: 0 auto;
        max-width: 768px;
    }
    .table--cell {
        flex: 0 0 153.6px;
    }
}
